module.exports = function (shipit) {
    require('shipit-deploy')(shipit);
    require('shipit-bower')(shipit);
    require('shipit-npm')(shipit);
    require('shipit-submodule')(shipit);

    shipit.blTask('grunt:all', function() {
        return shipit.local('grunt all', {cwd: shipit.config.workspace});
    });

    shipit.blTask('load:current', function() {
        return current = '' + shipit.config.currentPath + '';
    });

    shipit.on('submodule:update', function(){
        shipit.start('grunt:all');
    });

    shipit.on('deploy:update', function(){
        shipit.start('load:current');
    });

    shipit.initConfig({
        default: {
            npm: {
                remote: false
            },
            bower: {
                remote: false
            },
            workspace: 'shipit-build',
            deployTo: '/path/to/deploy',
            currentPath: 'documentroot',
            releasesPath: 'releasespath',
            repositoryUrl: 'git@github.com/user/repo.git',
            ignores: [
                '.git',
                'bower_components',
                'node_modules'
            ],
            keepReleases: 2,
            shallowClone: true,
            deleteOnRollback: false,
            branch: 'release/0.1',
            submodules: true
        },
        staging: {
            servers: 'user@server:port',
        }
    });
};
